body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

h1 {
  color: #333;
}

button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

li{
  background-color: white;
  padding:20px 5px;
  border: 1ps solid gray;
  list-style: none;
}

#removeAll{
  background-color: red;
  color: white
}

